@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .link{
      @apply cursor-pointer font-semibold text-base text-white hover:underline
   };
   .server-default{
       @apply h-12 bg-discord_serverBg rounded-full flex justify-center 
       items-center cursor-pointer hover:rounded-full transition-all duration-100 ease-out
   };

   @font-face {
      font-family: 'proxima-nova-bold';
      src: url('/public/fonts/proxima-nova-bold.otf');
      font-weight: normal;
      font-style: normal;
    };
};
