@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .link{
      @apply cursor-pointer font-semibold text-base text-white hover:underline
   };

   @font-face {
      font-family: 'proxima-nova-bold';
      src: url('/public/fonts/proxima-nova-bold.otf');
      font-weight: normal;
      font-style: normal;
    };
};
